.DS_Store
.vscode
/.vs
/FitnessTracker.Database
/FitnessTracker/.vs/FitnessTracker/*
/FitnessTracker.BusinessLogic/obj/Debug/net6.0
/FitnessTracker.Shared/bin/Debug/net6.0
/FitnessTracker.Shared/obj/Debug/net6.0
/FitnessTracker.WebAPI/bin/Debug/net6.0
/FitnessTracker.WebAPI/obj/Debug/net6.0
/FitnessTracker.WebAPI/obj
*.suo